@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: 'Poppins';
}

#texto-header{
    display: inline;
    margin-left: 1vw;
    font-size: 16pt;
    font-weight: 600;
}

#titulo{
    position: relative;
    top: 120px;
    font-weight: 600;
}

#titulo-modal{
    font-weight: 600;
}

#subtitulo-modal{
    font-weight: 600;
}

#tabela{
    position: relative;
    top: 140px;
    border: 1px solid black;
}

.navbar{
    border: 1px solid black;
}

#btn-login{
    width: 88px;
    height: 40px;
}

#div-btn-tarefa{
    position: relative;
    top: -140px;
}

#btn-tarefa{
    width: 128px;
    height: 40px;
}

#btn-view{
    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #212121;
    box-shadow: -1px 2px 0 #212121, -2px 4px 0 #212121 !important;
}

#btn-view:active{
    box-shadow: inset -2px 2px 0 #212121 !important;
}

#btn-edit{
    border-radius: 5px;
    border: 1px solid #212121;
    box-shadow: -1px 2px 0 #212121, -2px 4px 0 #212121 !important;
}

#btn-edit:active{
    box-shadow: inset -2px 2px 0 #212121 !important;
}

#btn-remove{
    border-radius: 5px;
    border: 1px solid #212121;
    box-shadow: -1px 2px 0 #212121, -2px 4px 0 #212121 !important;
}

#btn-remove:active{
    box-shadow: inset -2px 2px 0 #212121 !important;
}

.btn-primary{
    background-color: #fba615 !important;
    border: 1px solid #212121 !important;
    font-size: 12pt;
    box-shadow: -2px 3px 0 #212121, -4px 6px 0 #212121 !important;
}

.btn-primary:hover{
    background-color: #e59d20 !important;
}

.btn-primary:active{
    background-color: #e59d20 !important;
    font-size: 10pt;
    box-shadow: inset -4px 4px 0 #212121 !important;
}

.btn-login{
    margin-bottom: 10px;
    top: 430px;
    left: 691px;
    width: 100%;
    height: 64px;
    background: var(--unnamed-color-393939) 0% 0% no-repeat padding-box;
    background: #fba615 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    border: none;
    outline: none;
}

.btn-cad{
    top: 430px;
    left: 691px;
    width: 100%;
    height: 64px;
    background: var(--unnamed-color-393939) 0% 0% no-repeat padding-box;
    background: #393939 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    border: none;
    outline: none;
}

.btn-enviar{

    top: 961px;
    left: 140px;
    width: 50%;
    height: 64px;
    background: var(--unnamed-color-c2c2c2) 0% 0% no-repeat padding-box;
    background: #C2C2C2 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

.inp{
    top: 219px;
    left: 691px;
    width: 100%;
    height: 56px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-393939);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 2px 8px #00000029;
    border: 1px solid #393939;
    border-radius: 4px;
    opacity: 1;
}
.form-camp{
    margin-bottom: 10px;
}

.formulario{
    width: 500px;
    
}

.form{
    width: 400px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
}
.form > h3{
    color: #A37A46;
    font-weight: 800;
}

.form > p{
    color: white;

}



